#JSGF V1.0 latin-1;
grammar robot;
public <question> = <gram0> <gram1> | <gram2> | <gram3> | <gram4> | <gram5> | <gram6> | <gram7> | <gram8> | <gram9> | <gram10> | <gram11> | <gram12> | <gram13> | <gram14> | <gram15> | <gram16> | <gram17> | <gram18> ;
<gram0> = allume la lumière la cuisine;
<gram1> = allume la lumière du salon;
<gram2> = allume la lumière de la salle a manger;
<gram3> = allume la lampe la cuisine;
<gram4> = allume la lampe du salon;
<gram5> = allume la lampe de la salle a manger;
<gram6> = allume l ampoule la cuisine;
<gram7> = allume l ampoule du salon;
<gram8> = allume l ampoule de la salle a manger;
<gram9> = éteint la lumière la cuisine;
<gram10> = éteint la lumière du salon;
<gram11> = éteint la lumière de la salle a manger;
<gram12> = éteint la lampe la cuisine;
<gram13> = éteint la lampe du salon;
<gram14> = éteint la lampe de la salle a manger;
<gram15> = éteint l ampoule la cuisine;
<gram16> = éteint l ampoule du salon;
<gram17> = éteint l ampoule de la salle a manger;
<gram18> = comment ca va;
