#JSGF V1.0 latin-1;
grammar robot;
public <question> = <gramm0> | <gramm1> | <gramm2> | <gramm3> | <gramm4> | <gramm5> | <gramm6> | <gramm7> | <gramm8> | <gramm9> | <gramm10> | <gramm11> | <gramm12> | <gramm13> | <gramm14> | <gramm15> | <gramm16> | <gramm17> | <gramm18> | <gramm19> ;
<gramm0> = allume la lumière de la cuisine;
<gramm1> = allume la lumière du salon;
<gramm2> = allume la lumière de la salle a manger;
<gramm3> = allume la lampe la cuisine;
<gramm4> = allume la lampe du salon;
<gramm5> = allume la lampe de la salle a manger;
<gramm6> = allume l ampoule la cuisine;
<gramm7> = allume l ampoule du salon;
<gramm8> = allume l ampoule de la salle a manger;
<gramm9> = éteint la lumière la cuisine;
<gramm10> = éteint la lumière du salon;
<gramm11> = éteint la lumière de la salle a manger;
<gramm12> = éteint la lampe la cuisine;
<gramm13> = éteint la lampe du salon;
<gramm14> = éteint la lampe de la salle a manger;
<gramm15> = éteint l ampoule la cuisine;
<gramm16> = éteint l ampoule du salon;
<gramm17> = éteint l ampoule de la salle a manger;
<gramm18> = comment ca va;
<gramm19> = marvin;

