<table class="table table-striped table-hover">
<thead>
<tr>
<th>a1</th>
<th>a2</th>
<th>a3</th>
<th>a4</th>
</tr>
</thead>
<tr><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td>3</td><td>3</td><td>3</td><td>3</td></tr>
<tr><td>4</td><td>4</td><td>4</td><td>4</td></tr>
<tr><td>5</td><td>5</td><td>5</td><td>5</td></tr>
<tr><td>1</td><td>1</td><td>1</td><td>2</td></tr>
<tr><td>1</td><td>1</td><td>1</td><td>3</td></tr>
<tr><td>1</td><td>1</td><td>1</td><td>4</td></tr>
<tr><td>1</td><td>1</td><td>2</td><td>1</td></tr>
<tr><td>1</td><td>2</td><td>1</td><td>1</td></tr>
<tr><td>1</td><td>1</td><td>1</td><td>6</td></tr>
<tr><td>1</td><td>3</td><td>1</td><td>1</td></tr>
<tr><td>1</td><td>1</td><td>3</td><td>1</td></tr>
<tr><td>1</td><td>1</td><td>1</td><td>3</td></tr>
<tr><td>1</td><td>1</td><td>1</td><td>1</td></tr>
</table>
