
            <a type="button" class="btn btn-default" data-toggle="modal" href="../ajax/modal.php?table=testTable&champs=id" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span></a><table class="table table-striped table-hover">
<thead>
<tr>
<th></th>
<th>a1</th>
<th>a2</th>
<th>a3</th>
<th>a4</th>
</tr>
</thead>
<tr><td>&nbsp;</td>
<td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td><a type="button" class="btn btn-default" data-toggle="modal" href="../ajax/modal.php?table=testTable&champs=id&id=2" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
</td>
<td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td><a type="button" class="btn btn-default" data-toggle="modal" href="../ajax/modal.php?table=testTable&champs=id&id=3" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
</td>
<td>3</td><td>3</td><td>3</td><td>3</td></tr>
<tr><td><a type="button" class="btn btn-default" data-toggle="modal" href="../ajax/modal.php?table=testTable&champs=id&id=4" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
</td>
<td>4</td><td>4</td><td>4</td><td>4</td></tr>
<tr><td><a type="button" class="btn btn-default" data-toggle="modal" href="../ajax/modal.php?table=testTable&champs=id&id=5" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
</td>
<td>5</td><td>5</td><td>5</td><td>5</td></tr>
<tr><td><a type="button" class="btn btn-default" data-toggle="modal" href="../ajax/modal.php?table=testTable&champs=id&id=6" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
</td>
<td>1</td><td>1</td><td>1</td><td>2</td></tr>
<tr><td><a type="button" class="btn btn-default" data-toggle="modal" href="../ajax/modal.php?table=testTable&champs=id&id=7" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
</td>
<td>1</td><td>1</td><td>1</td><td>3</td></tr>
<tr><td><a type="button" class="btn btn-default" data-toggle="modal" href="../ajax/modal.php?table=testTable&champs=id&id=8" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
</td>
<td>1</td><td>1</td><td>1</td><td>4</td></tr>
<tr><td><a type="button" class="btn btn-default" data-toggle="modal" href="../ajax/modal.php?table=testTable&champs=id&id=9" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
</td>
<td>1</td><td>1</td><td>2</td><td>1</td></tr>
<tr><td><a type="button" class="btn btn-default" data-toggle="modal" href="../ajax/modal.php?table=testTable&champs=id&id=10" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
</td>
<td>1</td><td>2</td><td>1</td><td>1</td></tr>
<tr><td><a type="button" class="btn btn-default" data-toggle="modal" href="../ajax/modal.php?table=testTable&champs=id&id=11" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
</td>
<td>1</td><td>1</td><td>1</td><td>6</td></tr>
<tr><td><a type="button" class="btn btn-default" data-toggle="modal" href="../ajax/modal.php?table=testTable&champs=id&id=12" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
</td>
<td>1</td><td>3</td><td>1</td><td>1</td></tr>
<tr><td><a type="button" class="btn btn-default" data-toggle="modal" href="../ajax/modal.php?table=testTable&champs=id&id=13" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
</td>
<td>1</td><td>1</td><td>3</td><td>1</td></tr>
<tr><td><a type="button" class="btn btn-default" data-toggle="modal" href="../ajax/modal.php?table=testTable&champs=id&id=14" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
</td>
<td>1</td><td>1</td><td>1</td><td>3</td></tr>
<tr><td>&nbsp;</td>
<td>1</td><td>1</td><td>1</td><td>1</td></tr>
</table>
