      <form class="form-login" id='form-login' name='form-login' role="form" method="POST">
        <h2 class="form-login-heading">Merci de vous connecter</h2>
        <input type="login" id='login' name='login' class="form-control" placeholder="Login" required autofocus>
        <input type="password" id='password' name='password' class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="1" name="remember-me"> Se souvenir de moi
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
      </form>
